{% extends "CoreBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/search/css/form.style.css') }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if produit is defined %}
        <p id="gettagsproduct-path" class="hide">{{ path('gettagsproduct', {'id': produit.id})}}</p>
    {% endif %}
    <div class="row">
        <div class="col s6 offset-s3">
            <h2 class="header">{{ title }}</h2>
            {{ form_start(form, {'method': 'POST'}) }}

                {{ form_row(form.name) }}
                {{ form_row(form.depot) }}
                {{ form_row(form.photo) }}
                <br>
                <div>
                    <label for="searchbundle_produit_tags">Tags</label>
                    <div id="searchbundle_produit_tags" class="chips chips-initial chips-placeholder chips-autocomplete"></div>
                </div>
                {{ form_row(form.sauvegarder)}}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/search/js/formProductControl.js') }}"></script>
{% endblock %}
