{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <p id="gettagsproduct-path" class="hide">{{ path('gettagsproduct', {'id': produit.id})}}</p>
    <div class="row">
        <div class="col s6 offset-s3">
            <h2 class="header">{{ title }}</h2>
            {{ form_start(form, {'method': 'POST'}) }}

                {{ form_row(form.name) }}
                {{ form_row(form.depot) }}
                {{ form_row(form.photo) }}

                <div id="searchbundle_produit_tags" class="chips chips-initial chips-placeholder chips-autocomplete"></div>

                {{ form_row(form.save)}}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/search/js/formProductControl.js') }}"></script>
{% endblock %}
