{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s6 offset-s3">
            <h2 class="header">{{ title }}</h2>
            {{ form(form) }}
            <div>
                <label for="searchbundle_produit_tags" class="required active">Tags</label>
                <div id="searchbundle_produit_tags" class="chips chips-autocomplete">
                    {% for tag in produit.tags %}
                        <div class="chip">
                            {{ tag.nom }}
                            <i class="close material-icons">close</i>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a id="searchbundle_save_button" class="waves-effect waves-light btn">Sauvegarder</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/search/js/formProductControl.js') }}"></script>
{% endblock %}
