{% extends "CoreBundle::layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/search/css/search.style.css') }}">
{% endblock %}

{% block title %}Search Result{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m2">
            {% include "SearchBundle:Default:searchBar.html.twig" %}
        </div>
        <div class="col s12 m2 center-align">
            <a id="search-button" class="waves-effect waves-light btn-large green">Rechercher</a>
        </div>
    </div>
    <p>Nous avons fait la recherche pour ces mots clefs :</p>
    {% for tag in tags %}
        <a class="chip" href="{{ path('search',{'research':tag.nom}) }}" >{{ tag.nom }}</a>
        {% else %}
        <div class="chip">Aucun mot clef</div>
    {% endfor %}

    <div class="row">
        {% for produit in produits %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div class="image-resp" style="background-image: url('{{ asset(produit.photo) }}');">
                        </div>
                        <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">more_horiz</i></a>
                    </div>
                    <div class="card-content {{ produit.depot.couleur }}">
                        <span class="card-title"><strong>{{ produit.name }}</strong></span>
                        <p>Veuillez déposer ce produit dans un dépôt de type : <strong>{{ produit.depot.type }}</strong></p>
                    </div>
                </div>
            </div>
        {% else %}
            <p><em>Aucun produit trouvé</em></p>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/search/js/searchControl.js') }}"></script
{% endblock %}
